.hidden {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --cyanUno: #2bb3b1;
  --cyanDos: #4abebd;
  --brightYellow: #bfdf32;
  --brightYellowHover: #b6d332;
  --colorBody: #e5eef4;
  --grayColor: #c4c5ce;
  --headerWhite: #fff;
}
body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: var(--colorBody);
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 60px 0 60px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(220px, auto);
  grid-template-areas: "header" "prices" "why-us";
  justify-items: center;
  align-items: center;
}
.container .header {
  margin: 0;
  background: var(--headerWhite);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  border-radius: 5px 5px 0 0;
  grid-area: header;
  justify-self: stretch;
  align-self: stretch;
}
.container .header .title-header {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--cyanUno);
  margin: 1em 1em 0 1em;
  line-height: 1.6;
}
.container .header .copy-header-one {
  font-weight: 700;
  font-size: 1rem;
  color: var(--brightYellow);
  margin: 1em 1em 0 1em;
  line-height: 1.6;
}
.container .header .copy-header-two {
  font-weight: 700;
  font-size: 1rem;
  color: var(--grayColor);
  margin: 1em 1em 2em 1em;
  line-height: 1.6;
}
.container .prices {
  height: 220px;
  margin: 0;
  background: var(--cyanUno);
  color: var(--headerWhite);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  grid-area: prices;
  justify-self: stretch;
  align-self: stretch;
}
.container .prices .title-prices {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1em 1em 0 1em;
  line-height: 1.6;
}
.container .prices .box {
  display: flex;
  margin: 0 1em 0 1em;
}
.container .prices .box .small-dollar {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.6;
  margin: 0 0.5em 0 0;
}
.container .prices .box .copy-month {
  color: var(--grayColor);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  padding: 1rem 0 0 0;
}
.container .prices .copy-description {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 1em 0 1em;
  line-height: 1.6;
}
.container .prices .button {
  outline: none;
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  max-width: 250px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  border: none;
  border-radius: 5px;
  background: var(--brightYellow);
  color: var(--headerWhite);
}
.container .prices .button:hover {
  cursor: pointer;
  background: var(--brightYellowHover);
}
.container .why-us {
  margin: 0;
  background: var(--cyanDos);
  grid-area: why-us;
  justify-self: stretch;
  align-self: stretch;
}
